@media all and (min-width: 480px) {


    .LogIn {
        padding: 60px 0;
    }

    .LogIn form {
        margin: 0 auto;
        max-width: 320px;
    }

    .LogIn .lander {
        padding: 80px 0;
        text-align: center;
    }

    .LogIn .lander h1 {
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
    }

    .LogIn .lander p {
        color: #999;
    }
}


